POSTGRES_USER=icloud
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_PUBLISHED_PORT=5432
POSTGRES_DB=icloud_index
SERVICE_PORT=8080
PLUGIN_SERVICE_URL=http://127.0.0.1:8080
PLUGIN_API_TOKEN=change-me
ICLOUD_APPLE_ID=
ICLOUD_APPLE_PASSWORD=
ICLOUD_SOURCE_MODE=apple-web
ICLOUD_MIRROR_ROOT=
ICLOUD_MIRROR_MOUNT_SOURCE=/srv/cloud-vault
ICLOUD_COOKIE_DIRECTORY=.runtime/pyicloud
ICLOUD_MAX_DOWNLOAD_BYTES=1048576
ICLOUD_EXCLUDED_DIRECTORY_NAMES=
ICLOUD_OCR_LANGS=eng
ICLOUD_PADDLE_OCR_ENABLED=1
ICLOUD_PDF_NATIVE_TEXT_MIN_CHARS=80
ICLOUD_PDF_OCR_MAX_PAGES=6
ICLOUD_PDF_OCR_DPI=200
ICLOUD_REFRESH_BATCH_FILE_LIMIT=100
BACKGROUND_REFRESH_INTERVAL_SECONDS=1800
WORKER_POLL_INTERVAL_SECONDS=5
CLASSIFIER_API_URL=http://192.168.50.196:4319
CLASSIFIER_API_TOKEN=
CLASSIFICATION_SUBMISSION_ENABLED=true
CLASSIFICATION_SUBMISSION_CONCURRENCY=2
CLASSIFICATION_SUBMISSION_POLL_INTERVAL_SECONDS=5
CLASSIFICATION_MAX_ATTEMPTS=3
CLASSIFICATION_RETRY_BACKOFF_SECONDS=0
CLASSIFICATION_TARGETED_REQUEUE_ENABLED=true
CLASSIFICATION_TARGETED_REQUEUE_LIMIT=10
CLASSIFIER_SOURCE_ROOT=/source
CLASSIFIER_SOURCE_MOUNT_SOURCE=/srv/cloud-vault/mirrors
IMAGE_OCR_MIN_CHARS=48
CODEX_ARBITER_ENABLED=0
