POSTGRES_HOST=192.168.50.232
POSTGRES_PORT=5432
POSTGRES_USER=icloud
POSTGRES_PASSWORD=change-me
POSTGRES_DB=icloud_index
SERVICE_PORT=8080
PLUGIN_SERVICE_URL=http://127.0.0.1:8080
PLUGIN_API_TOKEN=change-me
ICLOUD_SOURCE_MODE=filesystem-mirror
ICLOUD_MIRROR_MOUNT_SOURCE=/mnt/cloud-vault
ICLOUD_MIRROR_ROOT=/srv/cloud-vault/mirrors
CLASSIFIER_API_URL=http://192.168.50.196:4319
CLASSIFIER_API_TOKEN=
CLASSIFIER_VAULT_ROOT=/srv/cloud-vault/document-vault
CLASSIFICATION_SUBMISSION_ENABLED=true
